.example-box {
  padding: 10px 10px;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background: #333;
  font-size: 14px;
}

.example-box:last-child {
  border: none;
}

.userIcon {
  height: 25px;
  margin-right: 10px
}

.example-spacer {
  flex: 1 1 auto;
}

.soundOptions {
  padding: 0 5px;
}

.username{
  padding: 0 5px;
}
