<mat-card class="channelCard">
  <mat-card-title class="channelTitle">{{voiceChannel.Name}}</mat-card-title>
  <mat-card-content cdkDropList class="example-list"
                    id={{voiceChannel.Id}}
                    [cdkDropListData]="voiceChannel.Users"
                    (cdkDropListDropped)="dropItem($event)"
                    [cdkDropListConnectedTo]="getConnectedList()">
    <div *ngFor="let user of voiceChannel.Users" >
      <app-discord-user cdkDrag [discordUser]="user" [cdkDragData]="user"></app-discord-user>
    </div>

  </mat-card-content>
</mat-card>
